// ==============================
// COLORS
// ==============================

$color-gold: #d5966c;
$color-black: #151515;
$color-dark-gray: #444444;
$color-white: #ffffff;

// ==============================
// TYPOGRAPHY
// ==============================

$font-heading: "Big Shoulders", sans-serif;
$font-body: "Outfit", sans-serif;

// ==============================
// BREAKPOINTS
// Mobile First
// ==============================

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
